{% extends "base.html" %}

{% block title %}
<!-- page-intro start-->
<!-- ================ -->
     <div class="page-intro">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href=#>GitHub</a></li>
                        <li class="active">项目协作关系圈</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
 <!-- page-intro end -->
{% endblock %}

{% block project %}
<div>
    <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12">

                        <!-- portfolio items start -->
                        <div class="isotope-container row">
                                <div class="col-md-4 col-sm-6 isotope-item web-design">
                                    <div class="image-box">
                                        <div class="overlay-container">
                                            <div class="overlay">
                                                <div class="overlay-links">
                                                    <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                                    <a href="images/portfolio-3.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                                </div>
                                                <span>netty-netty</span>
                                            </div>
                                        </div>
                                        <div class="image-box-body">
                                            <h3 class="title"><a href="../project/?project=netty-netty">netty-netty</a></h3>
                                            <p>Netty project - an event-driven asynchronous network application framework <a href="http://netty.io/">http://netty.io/</a></p>
                                            <a href="https://github.com/netty/netty" class="link"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 isotope-item site-building">
                                    <div class="image-box">
                                        <div class="overlay-container">
                                            <div class="overlay">
                                                <div class="overlay-links">
                                                    <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                                    <a href="images/portfolio-4.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                                </div>
                                                <span>duckduckgo-zeroclickinfo-goodies</span>
                                            </div>
                                        </div>
                                        <div class="image-box-body">
                                            <h3 class="title"><a href="../project/?project=duckduckgo-zeroclickinfo-goodies">duckduckgo-zeroclickinfo-goodies</a></h3>
                                            <p>duckduckgo-zeroclickinfo-goodies duckduckgo-zeroclickinfo-goodies</p>
                                            <a href="" class="link"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 isotope-item web-design">
                                    <div class="image-box">
                                        <div class="overlay-container">
                                            <div class="overlay">
                                                <div class="overlay-links">
                                                    <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                                    <a href="images/portfolio-6.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                                </div>
                                                <span>puppetlabs-puppetdb</span>
                                            </div>
                                        </div>
                                        <div class="image-box-body">
                                            <h3 class="title"><a href="../project/?project=puppetlabs-puppetdb">puppetlabs-puppetdb</a></h3>
                                            <p>A puppet module for installing and managing puppetdb <a href="https://forge.puppet.com/puppetlabs/puppetdb">https://forge.puppet.com/puppetlabs/puppetdb</a></p>
                                            <a href="https://github.com/puppetlabs/puppetlabs-puppetdb" class="link"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 isotope-item app-development">
                                    <div class="image-box">
                                        <div class="overlay-container">
                                            <div class="overlay">
                                                <div class="overlay-links">
                                                    <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                                    <a href="images/portfolio-5.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                                </div>
                                                <span>jquery-jquery</span>
                                            </div>
                                        </div>
                                        <div class="image-box-body">
                                            <h3 class="title"><a href="../project/?project=jquery-jquery">jquery-jquery</a></h3>
                                            <p>jQuery JavaScript Library <a href="https://jquery.com/">https://jquery.com/</a></p>
                                            <a href="https://github.com/jquery/jquery" class="link"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <div class="col-md-4 col-sm-6 isotope-item site-building">
                                    <div class="image-box">
                                        <div class="overlay-container">
                                            <div class="overlay">
                                                <div class="overlay-links">
                                                    <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                                    <a href="images/portfolio-7.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                                </div>
                                                <span>rails-rails</span>
                                            </div>
                                        </div>
                                        <div class="image-box-body">
                                            <h3 class="title"><a href="../project/?project=rails-rails">rails-rails</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                            <a href="" class="link"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 isotope-item web-design">
                                    <div class="image-box">
                                        <div class="overlay-container">
                                            <div class="overlay">
                                                <div class="overlay-links">
                                                    <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                                    <a href="images/portfolio-8.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                                </div>
                                                <span>saltstack-salt</span>
                                            </div>
                                        </div>
                                        <div class="image-box-body">
                                            <h3 class="title"><a href="../project/?project=saltstack-salt">saltstack-salt</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                            <a href="" class="link"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- portfolio items end -->

                            </div>
                            </div>
                            </div>
                            </section>

</div>
{% endblock %}