<html>
<head>
        <meta charset="utf-8">  
        <title>netty-netty</title>  
  </head> 

<style type="text/css">

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


path.link.collaboration {
  stroke-dasharray: 0,2 1;
  stroke: green;
}

path.link.commit {
  stroke: green;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 12px Microsoft YaHei;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

</style>
<body>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript"> 


        var nodes = {{ user_list|safe }} ;
                     
        var edges_coll = {{ coll_edge_list|safe }} ; 
        var edges_comm = {{ comm_edge_list|safe }} ; 
        var edges = {{ coll_edge_list|safe }} ; 

        edges = edges_comm.reduce( function(coll,item){
                    coll.push( item );
                    return coll;
                }, edges );
        
        var width = 1300;
        var height = 1300;

        var force = d3.layout.force()//layout将json格式转化为力学图可用的格式
            .nodes(d3.values(nodes))//设定节点数组
            .links(d3.values(edges))//设定连线数组
            .size([width, height])//作用域的大小
            .linkDistance(180)//连接线长度
            .charge(-1500)//顶点的电荷数。该参数决定是排斥还是吸引，数值越小越互相排斥
            //.on("tick", tick)//指时间间隔，隔一段时间刷新一次画面
            .start();//开始转换
        
        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);
        

        var label_text_1 = svg.append("text")
                            .attr("class","labeltext")
                            .attr("x",10)
                            .attr("y",16)
                            .text("运动状态：开始");

        var label_text_2 = svg.append("text")
                            .attr("class","labeltext")
                            .attr("x",10)
                            .attr("y",40)
                            .text("拖拽状态：结束");


        //箭头
        var marker=svg.append("svg:defs").selectAll("marker")
                    .data(["collaboration", "commit"])
                    .enter().append("marker")
                    .attr("id", String)
                    //.attr("markerUnits","userSpaceOnUse")
                    .attr("viewBox", "0 -5 10 10")//坐标系的区域
                    .attr("refX",32)//箭头坐标
                    .attr("refY", -1)
                    .attr("markerWidth", 12)//标识的大小
                    .attr("markerHeight", 12)
                    .attr("orient", "auto")//绘制方向，可设定为：auto（自动确认方向）和 角度值
                    .attr("stroke-width",2)//箭头宽度
                    .append("path")
                    .attr("d", "M0,-5L10,0L0,5")//箭头的路径
                    .attr('fill','#000000');//箭头颜色

        //曲线：commit
        var path = svg.append("g").selectAll("path")
                    .data(edges_comm)
                    .enter().append("path")
                    .attr("class", function(d) { return "link commit"; })
                    .attr("marker-end", function(d) { return "url(#commit)"; });

        //直线：collaboration    
        var edges_line = svg.append("g").selectAll(".edgepath")
                    .data(edges_coll)
                    .enter()
                    .append("path")
                    .attr({
          'd': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
          'class':'edgepath',
          //'fill-opacity':0,
          //'stroke-opacity':0,
          //'fill':'blue',
          //'stroke':'red',
          'id':function(d,i) {return 'edgepath'+i;}})
    .style("stroke",function(d){
         var lineColor;
         lineColor="#A254A2";
         return lineColor;
     })
    .style("pointer-events", "none")
                    .style("stroke-width",1)//线条粗细
                    .attr("marker-end", "url(#collaboration)" );//根据箭头标记的id号标记箭头

/*
        var drag = force.drag()
                    .on("dragstart",function(d,i){
                        d.fixed = true;    //拖拽开始后设定被拖拽对象为固定
                        label_text_2.text("拖拽状态：开始");
                    })
                    .on("dragend",function(d,i){
                        label_text_2.text("拖拽状态：结束");
                    })
                    .on("drag",function(d,i){
                        label_text_2.text("拖拽状态：进行中");
                    });*/

        //圆圈
        var circle = svg.append("g").selectAll("circle")
                    .data(nodes)//表示使用force.nodes数据
                    .enter().append("circle")
                    .style("fill",function(node){
                        var color;//圆圈背景色
                            color="#F6E8E9";
                        return color;
                    })
                    .style('stroke',function(node){ 
                        var color;//圆圈线条的颜色
                            color="#A254A2";
                        return color;
                    })
                    .attr("r", 28)//设置圆圈半径
                    .on("click",function(node){
                        //单击时让连接线加粗
                        edges_line.style("stroke-width",function(line){
                            console.log(line);
                            if(line.source.label==node.label || line.target.label==node.label){
                                return 4;
                            }else{
                                return 0.5;
                            }
                        });
                    });
                    //.call(drag);//将当前选中的元素传到drag函数中，使顶点可以被拖动
            



          //圆圈的提示文字
        circle.append("svg:title")  
            .text(function(node) { 
                return "双击可查看详情"
            });  

        var nodes_text = svg.append("g").selectAll("text")
                    .data(force.nodes())
                    //返回缺失元素的占位对象（placeholder），指向绑定的数据中比选定元素集多出的一部分元素。
                    .enter()
                    .append("text")
                    .attr("dy", ".35em")  
                    .attr("text-anchor", "middle")//在圆圈中加上数据  
                    .style('fill',function(node){
                        var color;//文字颜色
                            color="#B43232";
                        return color;
                    })
                        //直接显示文字    
                    .text(function(d) { 
                        return d.label; 
                    });

        //力学图运动开始时
        force.on("start", function(){
            label_text_1.text("运动状态：开始");
        });
            
        //力学图运动结束时
        force.on("end", function(){
            label_text_1.text("运动状态：结束");
        });

        force.on("tick", function(){

            //修改标签文字
            label_text_1.text("运动状态：进行中");

            //限制结点的边界
            nodes.forEach(function(d,i){
                d.x = d.x - 30 < 0     ? 60 : d.x ;
                d.x = d.x + 30 > width ? width - 30 : d.x ;
                d.y = d.y - 30 < 0      ? 60 : d.y ;
                d.y = d.y + 30  > height ? height - 30  : d.y ;
            });

            //更新直线的位置
            edges_line.attr("d", function(d) { 
                var path="M"+d.source.x+"," +d.source.y+"L"+ d.target.x +"," +d.target.y;
                return path;
            }); 
            edges_line.attr('d', function(d) { 
      var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
      return path;
  });  
            //更新连接线的位置
                 //edges_line.attr("x1",function(d){ return d.source.x; });
                 //edges_line.attr("y1",function(d){ return d.source.y; });
                 //edges_line.attr("x2",function(d){ return d.target.x; });
                 //edges_line.attr("y2",function(d){ return d.target.y; });

            //更新曲线的位置
            /*path.attr("d", function(d){
                var dx = d.target.x - d.source.x,
                    dy = d.target.y - d.source.y,
                    dr = Math.sqrt(dx * dx + dy * dy);
                return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
            });*/

            //更新圆圈，文字
            circle.attr("transform",transform1);
            //circle.attr("y",function(d){ return d.y - 28/2; });

            nodes_text.attr("transform",transform2);
            //nodes_text.attr("y",function(d){ return d.y });
        });


        function transform1(d) {
          return "translate(" + d.x + "," + d.y + ")";
        }
        function transform2(d) {
              return "translate(" + (d.x) + "," + d.y + ")";
        }


     
        </script>   
		
    </body>  
</html>  
